@import './variables.less';
@import './mixins.less';
@import './reset.less';

// 字体由 vite-plugin-font 自动分割和注入，无需手动 @font-face 声明

// 全局基础样式
body {
  //font-family: @font-family;
  // font-weight: 500;
  font-size: @font-size-base;
  color: @text-color;
  background: @bg-layout;
}

// 全局滚动条美化
body {
  .custom-scrollbar();
}

// 全局选中色
::selection {
  background: fade(@color-primary, 20%);
}

// 修复 ProLayout header actions hover 遮罩超出布局高度
.ant-pro-global-header-header-actions-item {
  height: 100%;
  max-height: 56px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

// 去除 ProLayout header actions hover 遮罩
.ant-pro-global-header-header-actions-item > *:hover {
  background: transparent;
}
